<h1>Chat Rooms</h1>

<% if logged_in? %>
  <%= link_to "Create New Chat Room", new_chat_room_path %>
<% end %>

<ul>
  <% @chat_rooms.each do |chat_room| %>
    <li>
      <%= link_to chat_room.name, chat_room_path(chat_room) %>
      <% if logged_in? %>
        <%= link_to "Edit", edit_chat_room_path(chat_room) %>
        <%= link_to "Delete", chat_room_path(chat_room), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
