<h1>Chat Rooms</h1>

<% if logged_in? %>
  <%= link_to "Create New Chat Room", new_chat_room_path %>
<% end %>

<ul>
  <% @chat_rooms.each do |chat_room| %>
    <li>
      <%= link_to chat_room.name, chat_room_path(chat_room) %>
      - Created by <%= chat_room.user.name %>
      <% if current_user&.admin? || chat_room.user == current_user %>
        <%= link_to "Edit", edit_chat_room_path(chat_room) %>
      <% end %>
    </li>
  <% end %>
</ul>
